<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(title = 'About | Bananaa')"></head>
<link href="http://cdn.bananaa.in/css/extras.css" type="text/css" rel="stylesheet"></link>
<style type="text/css">
    .hero-image::after {
        content: "About Us"
    }
</style>
<body>
	<div class="container-fluid">
        <div th:replace="fragments/plain-header :: plain-header"></div>
        
        <div class="row grey-background document-area">
            <div class="hero-image" align="center">
                <img class="section-img" src="http://cdn.bananaa.in/img/about.jpg" />                
            </div>          
        
            <div class="col-xs-12 white-background document-area" style="margin-top: 2%">
                <div>
                    Bananaa is your best buddy to hangout and discover great places to eat. 
                </div>
                <div>
                    It helps to serve you better and keeps the excitement with great rewards when you check in.
                </div>
                <div>
                    Your one true love - BANANAA !
                </div>
                <br /><br />
                <p>
                    More information coming right up.
                </p>
            </div>
        </div>
				
		<div lang="en" th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>
