<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(pageTitle = 'About | Bananaa')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/header :: header"></div>
		
		<!-- POLICY STARTS -->
		<div class="row grey-background document-area">
		    <div class="primary-heading">
		        <h2>About Us</h2>
		    </div>          
		
		    <div class="col-xs-12 white-background document-area">
	            <h4>
	                Bananaa is your best buddy to hangout and discover great places to eat. 
	            </h4>
	            <h4>
	                It helps to serve you better and keeps the excitement with great rewards when you check in.
	            </h4>
	            <h3>
	                Your one true love - BANANAA !
	            </h3>
	            <br /><br />
	            <p>
	                More information coming right up.
	            </p>
            </div>
		</div>
				
		<!-- POLICY ENDSS -->
		
		<div lang="en" th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>
