<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(title = 'Contact | Bananaa')"></head>
<link href="http://cdn.bananaa.in/css/extras.css" type="text/css" rel="stylesheet"></link>
<style type="text/css">
    .hero-image::after {
        content: "We will love to hear from you!"
    }

    textarea:focus ~ label, textarea:valid ~ label   {
      top:-20px;
      font-size:10px;
      color:#9932CC;
    }

</style>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/plain-header :: plain-header"></div>
        
        <div class="row grey-background document-area">
            <div class="hero-image" align="center">
                <img class="section-img" src="http://cdn.bananaa.in/img/contact.jpg" />
            </div>
        
            <div class="col-xs-12 white-background document-area" style="margin-top: 2%;">
                <div style="margin-top: 2%;">
                    <div class="col-xs-12 col-sm-8">
                        <form>
                            <div class="group">
                              <input type="text" id="name" required="required" autocomplete="off" />
                              <span class="bar"></span>
                              <label>Name</label>
                            </div>
                            <div class="error-label error-label-name font-0-8 red align-left hide">
                                Please enter your name
                            </div>
                            <div class="group">
                              <input type="number" id="phone" required="required" autocomplete="off" />
                              <span class="bar"></span>
                              <label>Phone</label>
                            </div>
                            <div class="group">
                              <input type="text" id="email" required="required" autocomplete="off" />
                              <span class="bar"></span>
                              <label>Email</label>
                            </div>
                            <div class="error-label error-label-email font-0-8 red align-left hide">
                                Please enter your email
                            </div>
                            <div class="group">
                              <textarea id="message" required="required" autocomplete="off"></textarea>
                              <span class="bar"></span>
                              <label>Your message</label>
                            </div>
                            <div class="error-label error-label-message font-0-8 red align-left hide">
                                Please enter your message
                            </div>
                            <div class="group">
                                <button class="bna-button" type="button" style="width: 85%;" onclick="submitMessage();">Send Message</button>
                            </div>                            
                          </form>
                    </div>
                    <div class="col-xs-12 col-sm-4 panel panel-default">
                        <table class="table">
                            <tr>
                                <td>Call us :</td>
                                <td>08185023085</td>
                            </tr>
                            <tr>
                                <td>Email us :</td>
                                <td>contact@bananaa.in</td>
                            </tr>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
        		
		<div lang="en" th:replace="fragments/footer :: footer"></div>
	</div>
	<script src="http://cdn.bananaa.in/js/extra.js"></script>
</body>
</html>
