<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head"></head>
<link href="/r/e/s/o/u/r/c/e/css/detail.css" type="text/css" rel="stylesheet"></link>
<link href="/r/e/s/o/u/r/c/e/css/detail-mini.css" type="text/css" rel="stylesheet" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" />

<body>
	<div class="container-fluid">
		<div class="hide" id="loginStatus" th:text="${loginStatus.status}"></div>
		<div class="hide" id="primaryImageTemp" th:text="${detail.imageUrl}"></div>
        
        <div lang="en" th:replace="fragments/top-header :: top-header"></div>
        
        <div class="row bna-bg primary-image-wrapper">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 primary-image-banner cursor-pointer" onclick="imageView();">
            </div>    
        </div> 

        <div class="row bna-bg sub-section">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 merchant-detail-main">
                <div class="row white-background details-wrapper details-top-wrapper">
                    <div class="col-xs-12">
                        <div class="row" style="padding: 3% 0%;">
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row padding-left">
                                            <div class="primary-detail col-xs-12 bold font-2" th:text="${detail.name}">
                                            </div>
                                             <div class="secondary-detail col-xs-12 light" th:text="${detail.shortAddress}">
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                              
                    </div>   
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-sm-push-8 white-background details-wrapper" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <div class="row flexi-font" style="padding: 2%;">
                                <div class="col-xs-6 col-sm-12 detail-type-padding">
                                    <div class="bna-color">Opening Hours</div>
                                    <div>
                                    	<span th:each="openingHour, iterStat : ${detail.openingHours}" th:text="!${iterStat.last} ? ${openingHour} + ', ' : ${openingHour}"></span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-12 detail-type-padding">
                                    <div class="bna-color">Phone Number</div>
                                    <div><a th:href="'tel:' + ${detail.phone}" th:text="${detail.phone}"></a></div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-xs-6 col-sm-12 detail-type-padding">
                                    <div class="bna-color">Cost for 2</div>
                                    <div th:text="'Rs. ' + ${detail.averageCost}"></div>
                                </div>
                                <div class="col-xs-6 col-sm-12 detail-type-padding">
                                    <div class="bna-color">Type</div>
                                    <div>
                                    	<span th:each="type, iterStat : ${detail.type}" th:text="!${iterStat.last} ? ${type} + ', ' : ${type}"></span>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-xs-12 detail-type-padding">
                                    <div class="bna-color">Address</div>
                                    <div th:text="${detail.longAddress}"></div>
                                </div>
                            </div>    
                        </div>                        
                    </div>
                    <div class="detail-about">
                        <div class="col-xs-12 col-sm-8 col-sm-pull-4">
                            <div class="row white-background details-wrapper" style="margin-top: 10px;" th:if="${popularCuisines.size() > 0}">
                            	<div class="col-xs-12">
                            		<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 font-1-5 bna-color padding-3">
												Cuisines and Spread &nbsp;
												<a style="font-size: 70%; color: #444;" href="#"
													data-placement="bottom" data-toggle="popover"
													data-trigger="hover"
													data-content="Rated based on weighted average of most recent food ratings, user credibility and number of times people have tried a dish."
													onclick="event.preventDefault();">&#9432;</a>
											</div>
										</div>
										<hr />
		                                <div class="row recommended-wrapper">
		                                    <div class="col-xs-12">
		                                        <div class="row" th:each="item, iterStat : ${popularCuisines}">
		                                        	<a class="cursor-pointer" th:href="${item.itemUrl}">
			                                            <div class="col-xs-12 recommended-item">
			                                                <div class="float-left" style="object-fit: cover; width: 15%;">
			                                                    <img class="user-icon" th:src="${item.thumbnail}" />
			                                                </div>
			                                                <div class="float-left item-desc-wrapper">
			                                                    <div class="bold item-name" th:text="${item.name}"></div>
			                                                    <div class="light" th:text="'spread of ' + ${item.dishCount} + '+ dishes'"></div>
			                                                </div>
			                                                <div class="float-right" style="width: 10%; padding-top: 2.5%">
                                                                <span th:if="${item.rating != ''}" style="padding: 10% 40%;" th:class="${item.ratingClass} + ' float-right rating-rcmd'" th:text="${item.rating}"></span>
                                                                <span th:unless="${item.rating != ''}" style="padding: 10% 40%;" th:class="${item.ratingClass} + ' float-right rating-rcmd'" th:text="'-.-'"></span>
                                                            </div>
			                                            </div>
		                                            </a>
		                                        </div>
		                                    </div>
		                                </div>
										<div class="row padding-top">
										</div>
									</div>
                            	</div>
                            </div>
                            <div class="row white-background details-wrapper" style="margin-top: 10px;" th:if="${popularDishes.items.size() > 0}">
                            	<div class="col-xs-12">
                            		<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 font-1-5 bna-color padding-3">
												Delectable dishes &nbsp;
												<a style="font-size: 70%; color: #444;" href="#"
													data-placement="bottom" data-toggle="popover"
													data-trigger="hover"
													data-content="Based on weighted average of most recent ratings, user credibility and number of times people have tried a dish."
													onclick="event.preventDefault();">&#9432;</a>
											</div>
										</div>
										<hr />
		                                <div class="row recommended-wrapper">
		                                    <div class="col-xs-12">
		                                        <div class="row" th:each="item, iterStat : ${popularDishes.items}">
		                                        	<a class="cursor-pointer" th:href="${item.itemUrl}">
			                                            <div class="col-xs-12 recommended-item">
			                                                <div class="float-left" style="object-fit: cover; width: 15%;">
			                                                    <img class="user-icon" th:src="${item.thumbnail}" />
			                                                </div>
			                                                <div class="float-left item-desc-wrapper">
			                                                    <div class="bold item-name" th:text="${item.name}">
			                                                        <!-- Joojeh Kebab -->
			                                                    </div>
			                                                    <div class="light" th:if="${item.recommendations == 1}" th:text="${item.recommendations} + ' person rated'">
			                                                        <!-- 1 person recommended -->
			                                                    </div>
			                                                    <div class="light" th:unless="${item.recommendations == 1}" th:text="${item.recommendations} + ' people rated'">
			                                                        <!-- 22 people recommended -->
			                                                    </div>
			                                                </div>
			                                                <div class="float-right" style="width: 10%; padding-top: 2.5%">
                                                                <span th:if="${item.rating != ''}" style="padding: 10% 40%;" th:class="${item.ratingClass} + ' float-right rating-rcmd'" th:text="${item.rating}"></span>
                                                                <span th:unless="${item.rating != ''}" style="padding: 10% 40%;" th:class="${item.ratingClass} + ' float-right rating-rcmd'" th:text="'-.-'"></span>
                                                            </div>
			                                            </div>
		                                            </a>
		                                        </div>
		                                    </div>
		                                </div>
										<div class="row padding-top">
											<hr />
											<button type="button" class="bna-button-light pull-right"
												onclick="loadPopularDishes();">See More</button>
										</div>
									</div>
                            	</div>
                            </div>
                            <div class="row white-background details-wrapper" style="margin-top: 10px;">
                            	<div class="col-xs-12">
                            		<div class="row">
		                                <div class="col-xs-12">
		                                    <div class="col-xs-12 font-1-5 bna-color padding-3">
		                                        My Foodview
		                                    </div>
		                                    <div class="col-xs-12 light padding-3" style="padding-top: 0%;">
		                                        My ratings and foodviews at <span th:text="${detail.name}"></span>
		                                    </div>    
		                                </div>                                   
		                            </div>
		                            <hr />
									<div class="row recommended-wrapper">
										<div class="col-xs-12">
											<div class="loader"></div>
											<div class="my-recommendations"></div>
											<div class="row align-center addRecommendButtonDiv">
												<hr />
												<button id="addRecommendButton" class="bna-button recommend-button">Rate and Foodview</button>
											</div>
										</div>
									</div>
								</div>
                            </div>                       
                        </div>                       
                    </div> 
                </div>
            </div>
        </div>
        
        <div lang="en" th:replace="fragments/recommend-modal :: recommend-modal"></div>
        
        <div lang="en" th:replace="fragments/alert-modal :: alert-modal"></div>
        
        <div lang="en" th:replace="fragments/image-viewer :: image-viewer"></div>
        
        <div lang="en" th:replace="fragments/loadmore-modal :: loadmore-modal"></div>
        
        <div lang="en" th:replace="fragments/login-modal :: login-modal"></div>

		<div lang="en" th:replace="fragments/footer :: footer"></div>

	</div>
	<input type="hidden" id="merchantId" th:value='${detail.id}' />
	<input type="hidden" id="merchantName" th:value='${detail.name}' />
	<script src="/r/e/s/o/u/r/c/e/js/detail.js"></script>
	<script src="/r/e/s/o/u/r/c/e/js/rcmd.js"></script>
</body>

</html>
