<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head"></head>
<script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"/>
<body>
	<script type="text/javascript" src="/js/login.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			initApp();
		};
	</script>
	<div class="container-fluid">

		<!-- Top Banner STARTS -->
		<div class="row home-banner">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="simpson header-icon">bananaa</p>
                    </div>
                    <div class="col-xs-6">
                        <div class="btn-group login-info pull-right">
                            <button type="button" id="login-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span id="login-info">Login</span> <span class="caret"></span>                        
                            </button>
                            <ul id="login-dropdown" class="dropdown-menu pull-right">
                                    <li><a href="javascript:logout();">Logout</a></li>
                                    <!-- <li><a href="#">Action</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li> -->
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 align-center logo-wrapper">
                        <img class="logo-round" src="img/192_round.png" />                    
                    </div>
                    <div class="tagline align-center">
                        <span>good food suggestions !</span>
                    </div>
					<div
						class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 search-box-wrapper">
						<form class="form-horizontal">
							<div class="form-group form-group-lg has-feedback">
								<input type="text" id="search-field" name="search"
									class="form-control" placeholder="Find your Restaurant"
									autocomplete="off" /> <i
									class="glyphicon icon-search form-control-feedback"></i>
							</div>
						</form>
						<div class="row search-box-suggestion"></div>
					</div>
				</div>
            </div>            
        </div>
		<!-- Top Banner ENDS -->
		
		<!-- Trending places STARTS -->
		<div class="row trending">
            <div class="col-xs-12 trending-heading">
                <p class="bold">Where to eat</p>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="row trending-wrapper slick-class clearfix">
                            <div class="trending-item">
                                <a href="hyderabad/12346">
                                    <div>
                                        <img class="trend-image" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12346.png" alt=""/>
                                        <div class="trending-item-desc">
                                            <div style="padding: 4%;">
                                                <p>
                                                    <span class="bold font-1-3">Fusion 9</span>
                                                    <br />
                                                    <span class="light">Hitech City, Hyderabad</span>
                                                </p>
                                                <span>320 Recommendations</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="trending-item">
                                <a href="hyderabad/12346">
                                    <div>
                                        <img class="trend-image" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12347.png" alt=""/>
                                        <div class="trending-item-desc">
                                            <div style="padding: 4%;">
                                                <p>
                                                    <span class="bold font-1-3">News Cafe</span>
                                                    <br />
                                                    <span class="light">Hitech City, Hyderabad</span>
                                                </p>
                                                <span>120 Recommendations</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="trending-item">
                                <a href="hyderabad/12346">
                                    <div>
                                        <img class="trend-image" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12348.png" alt=""/>
                                        <div class="trending-item-desc">
                                            <div style="padding: 4%;">
                                                <p>
                                                    <span class="bold font-1-3">Punjab Grill</span>
                                                    <br />
                                                    <span class="light">Jubilee Hills, Hyderabad</span>
                                                </p>
                                                <span>410 Recommendations</span>
                                            </div>
                                        </div>  
                                    </div>
                                </a>
                            </div>
                            <div class="trending-item">
                                <a href="hyderabad/12346">
                                    <div>
                                        <img class="trend-image" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12349.png" alt=""/>
                                        <div class="trending-item-desc">
                                            <div style="padding: 4%;">
                                                <p>
                                                    <span class="bold font-1-3">Urban Asia Bar and Grill</span>
                                                    <br />
                                                    <span class="light">Jubilee Hills, Hyderabad</span>
                                                </p>
                                                <span>450 Recommendations</span>
                                            </div>
                                        </div>  
                                    </div>
                                </a>
                            </div>
                            <div class="trending-item">
                                <a href="hyderabad/12346">
                                    <div>
                                        <img class="trend-image" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12350.png" alt=""/>
                                        <div class="trending-item-desc">
                                            <div style="padding: 4%;">
                                                <p>
                                                    <span class="bold font-1-3">Free Flow</span>
                                                    <br />
                                                    <span class="light">Jubilee Hills, Hyderabad</span>
                                                </p>
                                                <span>320 Recommendations</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
		<!-- Trending places ENDS -->
		
		<!-- About banner STARTS -->
        <div class="row" style="height: 1000px;">
            
        </div>
        <!-- About banner ENDS -->

		<!-- Login Modal STARTS -->
        <div class="modal fade" id="loginModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header align-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times" aria-hidden="true" style="color:black"></i>
                        </button>
                        <h4 class="modal-title bold">Log in to Bananaa</h4>
                    </div>
                    <div class="modal-body align-center">
                        <div align="center" style="padding-top: 5%;">
                            <img class="img-responsive btn" onclick="fbSignIn();" src="img/fb_login_button.png"></img> 
                        </div>
                        <div align="center" style="padding-top: 3%; padding-bottom: 5%;">
                            <img class="img-responsive btn" onclick="googleSignIn();" src="img/google_login_button.png"></img>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Login Modal ENDS -->

		<div lang="en" th:replace="fragments/footer :: footer"></div>

	</div>

	<input type="hidden" id="accessToken" th:value='${accessToken}' />
	<input type="hidden" id="city" th:value='${city}' />
</body>

</html>
