<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head"></head>
<link href="/r/e/s/o/u/r/c/e/css/home.css" type="text/css" rel="stylesheet"></link>
<link href="/r/e/s/o/u/r/c/e/css/home-mini.css" type="text/css" rel="stylesheet" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"/>
<body>
	<script type="text/javascript" th:src="'http://cdn.bananaa.in/js/login-' + ${loginStatus.bnaEnv} + '.js'"></script>
	<div class="container-fluid">
		<div class="hide" id="loginStatus" th:text="${loginStatus.status}"></div>
		<!-- Top Banner STARTS -->
		<div class="row home-banner">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="simpson header-icon cursor-pointer" onclick="location.href='/'">bananaa</p>
                    </div>
                    <div class="col-xs-6">
                        <div class="btn-group login-info pull-right">
                            <button type="button" id="login-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span id="login-info" th:text="${loginStatus.status} ? ${loginStatus.firstName} : 'Login'"></span> <span class="caret"></span>                        
                            </button>
                            <ul id="login-dropdown" class="dropdown-menu pull-right">
                                <li><a th:href="'/user/' + ${loginStatus.nameId}">My Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:logout();">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 align-center logo-wrapper">
                        <img class="logo-round" src="https://s3.ap-south-1.amazonaws.com/bna-s3/commons/logo-pr.svg" />                    
                    </div>
                    <div class="tagline align-center">
                        <span>good food suggestions !</span>
                    </div>
					<div
						class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 search-box-wrapper">
						<form class="form-horizontal">
							<div class="form-group form-group-lg has-feedback">
								<input type="text" id="search-field" name="search" data-provide="typeahead"
									class="form-control" placeholder="Find your Restaurant"
									autocomplete="off" /> <i
									class="glyphicon icon-search form-control-feedback"></i>
							</div>
						</form>
						<!-- <div class="row search-box-suggestion"></div> -->
					</div>
				</div>
            </div>            
        </div>
		<!-- Top Banner ENDS -->
		
		<!-- Trending STARTS -->
		<div class="row trending">
            <div class="col-xs-12 trending-heading">
                <p class="bold">top recommended restaurants</p>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 trending-restaurants">
                    	<div class="loader"></div>
                        <div class="row trending-restaurant-wrapper clearfix">
                            <!-- <div class="trending-item"> 
                                <a href="hyderabad/12346">
                                    <div>
                                        <img class="trend-image" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12350.png" alt=""/>
                                        <div class="trending-item-desc">
                                            <div style="padding: 4%;">
                                                <p>
                                                    <span class="bold font-1-3">Free Flow</span>
                                                    <br />
                                                    <span class="light">Jubilee Hills, Hyderabad</span>
                                                </p>
                                                <span>320 Recommendations</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>           
        </div>

        <div class="row trending">
            <div class="col-xs-12 trending-heading">
                <p class="bold">stories</p>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 stories">
                    	<div class="loader"></div>
                        <div class="row diary-wrapper slick-class clearfix">
                            <!-- <div class="trending-item">
                                <a href="/about">
                                    <div class="diary-sec">
                                        <img class="trend-image diary-img" src="http://cdn.bananaa.in/img/what-mini.jpg" alt="" />
                                        <div class="align-center padding" style="position: absolute; top: 20%; width: 100%;">
                                            <p class="bold font-1-3">Bananaa - What the Fuzz!</p>
                                        </div>
                                    </div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>           
        </div>

		<div lang="en" th:replace="fragments/login-modal :: login-modal"></div>

		<div lang="en" th:replace="fragments/footer :: footer"></div>

	</div>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script src="/r/e/s/o/u/r/c/e/js/index.js"></script>
</body>

</html>
