<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(pageTitle = 'Bananaa')"></head>
<head>
	<link href="css/jqcloud.min.css" rel="stylesheet"></link>
</head>

<body>
    <div class="container-fluid">

        <!-- Top Banner STARTS -->
        <div class="row banner">
            <div style="height: 70%;">
                <div class="logo" style="height: 80%;"></div>
                <div class="tagline" style="height: 20%;">
                    <span>one true love !</span>
                </div>
            </div>
            
            <div class="tagline" style="height: 30%;">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <form class="form-horizontal">
                        <div class="form-group form-group-lg has-feedback">
                            <input type="text" id="search-field" name="search" class="form-control" placeholder="Search for Restaurants" />
                            <i class="glyphicon icon-search form-control-feedback"></i>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
        <!-- Top Banner ENDS -->

        <!-- Feature banner STARTS -->
        <div class="row feature-banner">
            <div class="col-xs-12 col-sm-4">                
                <div class="feature">
                    <div>
                        <img class="center-block" src="img/search_feature.png" alt=""/> 
                    </div>
                    <div class="feature-details">
                        <p class="text-center feature-heading">Discover</p>
                        <p class="text-center feature-description">Discover new places to hangout</p>
                    </div>
                </div>                
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="feature">
                    <div>
                        <img class="center-block" src="img/checkin_feature.png" alt=""/>
                    </div>
                    <div class="feature-details">
                        <p class="text-center feature-heading"><strong>Checkin</strong></p>
                        <p class="text-center feature-description">Tag your friends and check in</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="feature">
                    <div>
                        <img class="center-block" src="img/gift_feature.png" alt=""/>
                    </div>
                    <div class="feature-details">
                        <p class="text-center feature-heading"><strong>Rewards</strong></p>
                        <p class="text-center feature-description">Win exciting rewards</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature banner ENDS -->

        <!-- Word cloud STARTS -->
        <div class="row word-cloud-wrapper">
            <div class="word-cloud">
            </div>
            <div class="extra-padding">
            </div>
        </div>
        <!-- Word cloud ENDS -->

        <!-- Trending places STARTS -->
        <div class="row trending">
            <div class="col-xs-12 trending-heading">
                Trending places
            </div>
            <div class="col-xs-12">
                <div class="row trending-wrapper">
                    <div class="col-xs-12 col-sm-4">
                        <div class="trending-item">
                            <div class="row">
                                <img class="trend-image center-block" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12351.png" alt=""/>    
                            </div>
                            <div class="row trending-item-desc">
                                <div class="row desc-top">
                                    <div class="col-xs-9">Punjab Grill</div>
                                    <div class="col-xs-3">
                                        <div class="rating-gear pull-right">
                                            <div align="center">
                                                <img class="icon-rating" src="img/rating-icon.png" />
                                                <span class="rating-value">3.8</span>
                                            </div>                                            
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="row desc-bottom">
                                    <div class="col-xs-9">Jubilee Hills, Hyderabad</div>
                                    <div class="col-xs-3">
                                        <div class="checkins-gear pull-right">
                                            <div align="center">
                                                <img class="icon-bananaa" src="img/banana_small.png" />
                                                <span class="checkin-value">380</span>
                                            </div>                                            
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="trending-item">
                            <div class="row">
                                <img class="trend-image center-block" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12345.png" alt=""/>    
                            </div>
                            <div class="row trending-item-desc">
                                <div class="row desc-top">
                                    <div class="col-xs-9">Soda Bottle Opener Wala</div>
                                    <div class="col-xs-3">
                                        <div class="rating-gear pull-right">
                                            <div align="center">
                                                <img class="icon-rating" src="img/rating-icon.png" />
                                                <span class="rating-value">4.8</span>
                                            </div>                                            
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="row desc-bottom">
                                    <div class="col-xs-9">Gachibowli, Hyderabad</div>
                                    <div class="col-xs-3">
                                        <div class="checkins-gear pull-right">
                                            <div align="center">
                                                <img class="icon-bananaa" src="img/banana_small.png" />
                                                <span class="checkin-value">120</span>
                                            </div>                                            
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="trending-item">
                            <div class="row">
                                <img class="trend-image center-block" src="https://s3.ap-south-1.amazonaws.com/bananaimages/12346.png" alt=""/>   
                            </div>
                            <div class="row trending-item-desc">
                                <div class="row desc-top">
                                    <div class="col-xs-9">Fusion 9</div>
                                    <div class="col-xs-3">
                                        <div class="rating-gear pull-right">
                                            <div align="center">
                                                <img class="icon-rating" src="img/rating-icon.png" />
                                                <span class="rating-value">4.2</span>
                                            </div>                                            
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="row desc-bottom">
                                    <div class="col-xs-9">Hitech City, Hyderabad</div>
                                    <div class="col-xs-3">
                                        <div class="checkins-gear pull-right">
                                            <div align="center">
                                                <img class="icon-bananaa" src="img/banana_small.png" />
                                                <span class="checkin-value">562</span>
                                            </div>                                            
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Trending places ENDS -->

        <!-- App Information STARTS -->
        <div class="row app-info">
            <div class="app-info-div">
                <div class="device-image">
                    <img src="img/device-icon.png" />
                </div> 
            </div>
            <div class="app-info-div">
                <div class="row download-heading">
                    <span>DOWNLOAD THE APP</span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 download-link-image">
                        <img src="img/playstore-icon.png" id="playStoreLink" />
                    </div>
                    <div class="col-xs-12 col-md-6 download-link-image">
                        <img src="img/appstore-icon.png" id="appStoreLink" />
                    </div>
                </div>
            </div>
        </div>
        <!-- App Information ENDS -->
        
        <!-- Excitement Modal STARTS -->
        <div class="modal fade" id="excitementModal" role="dialog">
		   <div class="modal-dialog">
		   
		     <!-- Modal content-->
		     <div class="modal-content">
		       <div class="modal-header align-center">
		         <h4 class="modal-title">Yep, all excited !</h4>
		       </div>
		       <div class="modal-body align-center">
		         <p>Hold tight while we add your favourite restaurants</p>
		       </div>
		       <div class="modal-footer align-center">
		         <button type="button" class="btn btn-default dismiss-btn" data-dismiss="modal">Come back later</button>
		       </div>
		     </div>
		     
		   </div>
		 </div>
		 <!-- Excitement Modal ENDS -->
		 
		 <!-- App Soon Launches Modal STARTS -->
        <div class="modal fade" id="appLaunchModal" role="dialog">
		   <div class="modal-dialog">
		   
		     <!-- Modal content-->
		     <div class="modal-content">
		       <div class="modal-header align-center">
		         <h4 class="modal-title">Excited about the app !</h4>
		       </div>
		       <div class="modal-body align-center">
		         <p>Let's give developers a little more time to give it an awesome look</p>
		         <br />
		         <p>You'll find the app on this store very soon</p>
		       </div>
		       <div class="modal-footer align-center">
		         <button type="button" class="btn btn-default dismiss-btn" data-dismiss="modal">Come back later</button>
		       </div>
		     </div>
		     
		   </div>
		 </div>
		 <!-- App Soon Launches Modal ENDS -->

        <div lang="en" th:replace="fragments/footer :: footer"></div>

    </div>

    <script src="js/jqcloud.min.js"></script>
    <script type="text/javascript">
    var words = [
         		{text: "bananaa", weight: 13, color: "#8d4ae2", html: {class: "wc-custom-class-1"}},
         		{text: "love", weight: 9.3, color: "#fbdb81", html: {class: "wc-custom-class-2"}},
         		{text: "checkin", weight: 12, color: "#b4b7b9", html: {class: "wc-custom-class-3"}},
         		{text: "discover", weight: 12, color: "#fbdb81", html: {class: "wc-custom-class-3"}},
         		{text: "follow", weight: 10.4, color: "#d7d8d9", html: {class: "wc-custom-class-2"}},
         		{text: "fun", weight: 10, color: "#212e3b", html: {class: "wc-custom-class-3"}},
         		{text: "rewards", weight: 11, color: "#fbdb81", html: {class: "wc-custom-class-2"}},
         		{text: "excitement", weight: 9.2, color: "#fbdb81", html: {class: "wc-custom-class-3"}},
         		{text: "friends", weight: 11, color: "#d7d8d9", html: {class: "wc-custom-class-2"}},
         		{text: "ratings", weight: 12, color: "#d6c4f4", html: {class: "wc-custom-class-2"}},
         		{text: "hangout", weight: 11, color: "#d6c4f4", html: {class: "wc-custom-class-3"}},
         		{text: "like", weight: 10, color: "#d7d8d9", html: {class: "wc-custom-class-3"}},
         		{text: "share", weight: 10.5, color: "#d6c4f4", html: {class: "wc-custom-class-2"}},
         		{text: "tag", weight: 9.6, color: "#8d4ae2", html: {class: "wc-custom-class-3"}},
         		{text: "joy", weight: 9.6, color: "#212e3b", html: {class: "wc-custom-class-3"}},
         		{text: "being social", weight: 10, color: "#d7d8d9", html: {class: "wc-custom-class-2"}},
         		{text: "feedbacks", weight: 9.8, color: "#8d4ae2", html: {class: "wc-custom-class-3"}},
         		{text: "food", weight: 12, color: "#212e3b", html: {class: "wc-custom-class-3"}},
         		{text: "happiness", weight: 8, color: "#fbdb81", html: {class: "wc-custom-class-2"}}
         	];

             $('.word-cloud').jQCloud(words, {
         		height: 500,
         		autoResize: true,
         		delayedMode : true
         	});
    </script>

</body>

</html>
