<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(pageTitle = 'Terms | Bananaa')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/header :: header"></div>
		
		<!-- POLICY STARTS -->
		<div class="row grey-background document-area">
		    <div class="primary-heading">
		        <h2>Terms of Service</h2>
		    </div>          
		
		    <div class="col-xs-12 white-background document-area">
		        <p class="grey-text">
		            Last updated on 31st January, 2017
		        </p>
		                       
				<p> Terms of service coming right up</p>
		    </div>
		</div>
				
		<!-- POLICY ENDSS -->
		
		<div lang="en" th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>
