<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(pageTitle = 'Terms | Bananaa')"></head>
<link href="http://cdn.bananaa.in/css/extras.css" type="text/css" rel="stylesheet"></link>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/plain-header :: plain-header"></div>
        
        <div class="row grey-background document-area">
            <div align="center" style="position: relative;">
                <img class="section-img" src="https://s3.ap-south-1.amazonaws.com/bna-s3/commons/home-bg.png" />
                <div class="section-text">
                    <p>Terms of Service</p>
                </div>
            </div>          
        
            <div class="col-xs-12 white-background document-area" style="margin-top: 2%">
                <p class="grey-text">
                    Last updated on 31st January, 2017
                </p>
                               
                <p> Terms of service coming right up</p>
            </div>
        </div>
		
		<div lang="en" th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>
