<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
 http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd
 http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<mvc:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="in.socyal.sc, in.socyal.sc.*" />
    <mvc:interceptors>
	    <mvc:interceptor>
		<mvc:mapping path="/**" />
			<bean class="in.socyal.sc.persistence.interceptor.LoggerInterceptor">
				<!-- <property name="excludeUrls">
					<list>
						<value>/app/token</value>
					</list>
				</property> -->
			</bean>
	    </mvc:interceptor>
	</mvc:interceptors>
</beans>