/* Common CSS STARTS */
.login-info {
    cursor: pointer; 
    color: white; 
}

.header-icon {
    font-size: 2em;
}
/* Common CSS ENDS */

/* Media Queries CSS - STARTS */
@media (min-width: 768px) {
	.detail-about > .col-sm-8 {
	    width: 65.666667%;
	}
}
/* Media Queries CSS - ENDS */

.primary-image-banner {
	height: 250px;
    border-radius: 4px;
}

.primary-image-wrapper {
  padding-top: 1%;
}

.sub-section {
    padding: 1% 0%;
}

.details-wrapper {
	border-radius: 3px;
    border: solid 1px #D3D3D3;
}

.recommended-item {
	padding: 3%;
}

.item-desc-wrapper {
	margin-left: 3%
}

.recommend-item-name {
	padding-top: 2%;
}

.detail-type-padding {
	padding: 5%;
}

.user-icon {
	width: 50px;
    height: 50px;
	border-radius: 50%;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px; 
}

.recommendSubmit {
    background-color: #9932CC;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.recommend-button {
    width: 50%;
    height: 45px;
}

.recommend-desc-area {
    height: 100px;
}

.my-recommendations {
    padding-bottom: 5%;
}

.error-label {
    margin-top: -5%;
    margin-bottom: 5%;
}

.recommend-item-desc {
    padding: 3% 0%;
}