body {
    font-size: 12px;
}

/* Hero Banner CSS - START */

.logo-round {
    object-fit: cover;
    height: 85px;
    width: 85px;
    border: 3px solid;
    border-radius: 100px;
    border-color: white;
}

.logo-wrapper {
    height: 100px;
}

.tagline {
    font-size: 1.5em;
    padding-top: 5%;
    padding-bottom: 4%;
}

.home-banner {
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("https://bna-s3.s3.amazonaws.com/commons/home-bg.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
}

.icon-search-home {
    background-image: url("https://bna-s3.s3.amazonaws.com/img/ic_search_black.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-location-home {
    background-image: url("https://bna-s3.s3.amazonaws.com/img/ic_location_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.location-wrapper {
    padding-top: 2%;
    padding-bottom: 2%;
}

.global-search-wrapper {
    padding-left: 15px;
    padding-bottom: 8%;
}

.location-wrapper>.form-horizontal>.form-group-lg>input, .global-search-wrapper>.form-horizontal>.form-group-lg>input {
    font-size: 1.2em;
}

.home-input-location {
    width: 100%;
}

.home-input-search {
    width: 100%;
}

/* Hero Banner CSS - END */

/* Feature Banner CSS - START */

.feature {
    padding-top: 100px;
}

.feature-details {
    padding-top: 30px;
}

.feature-heading {
    text-transform: uppercase;
    font-family: bna-bold;
    font-size: 20px;
}

 .feature-description {
    color: #808080;
    font-size: 16px;
 }

/* Feature Banner CSS - END */

/* Word Cloud CSS - START */

.word-cloud-wrapper {
    padding-top: 50px;
}

.wc-custom-class-1 {
    text-transform: uppercase;
    font-family: bna-bold !important;
    padding: 10px !important;
}

.wc-custom-class-2 {
    text-transform: uppercase;
    font-family: bna-bold !important;
    padding: 10px !important;
}

.wc-custom-class-3 {
    text-transform: uppercase;
    font-family: bna-web !important;
    padding: 10px !important;
}

.extra-padding {
    padding-top: 50px;
}

/* Word Cloud CSS - END */

/* Trending CSS - START */

.trending {
    background: #E6E9EE;
}

.trending-heading {
    padding: 10% 3% 1% 3%;
    text-transform: uppercase;  
}

.trending-restaurant-wrapper, .diary-wrapper {
    padding-left: 3%;
    padding-right: 3%;
}

.trending-item {
    margin-right: 10px;
}

.trend-image {
    object-fit: cover;
    width:100%;
    height:130px;
    overflow:hidden;
    vertical-align:top;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.trending-item-desc {
    background-color: #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.desc-top {
    font-family: bna-bold;
    padding: 0px 5px 0px 5px;
}

.desc-bottom {
    padding: 10px 5px 0px 5px;
    color: #808080;
}

.rating-gear {
    background-color: #9932CC;
    color: #FFFFFF;
    height: 25px;
    width: 50px;
    border-radius: 4px;
}

.checkins-gear {
    height: 25px;
    width: 50px;
}

.icon-rating {
    height: 15px;
    width: 15px;
}

.icon-bananaa {
    height: 15px;
    width: 20px;
}

.rating-value {
    vertical-align: middle;
}

.checkin-value {
    vertical-align: middle;
}

/* Trending CSS - END */

/* App Info CSS - START */

.app-info {
    background-color: #FFFFFF;
    padding: 10% 15% 10% 15%;
}

.download-heading {
    padding : 20% 0% 5% 0%;
    font-family: bna-bold;
    font-size: 2.5em;
    text-align: left;
}

.download-link-image {
    padding-top: 5%;
}

/* App Info CSS - END */

/* HEADER CSS - START */

.header {
    background-color: #9932CC; 
    background-image: url("../img/hero_banner_bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.logo-header {
    position: absolute;
    background-repeat: no-repeat;
    height: 15%;
    /* test */
    margin-left: 0%;
    cursor: pointer;
    display: block;
}

/* HEADER CSS - END */

/* ERROR PAGE CSS - START*/

.error-message-primary {
    padding: 5% 0% 3% 0%;
    color: #9932CC;
}

.error-message-secondary {
    padding-bottom: 3%;
}

.back-home-button {
    color: #ffffff;
    background-color: #9932CC;
}

/* ERROR PAGE CSS - END*/

hr {
    margin-top: 2px;
    margin-bottom: 2px; 
}

/* Login Button CSS starts */
.login-info {
    cursor: pointer; 
    color: white; 
    padding-right: 5%; 
    padding-top: 5%;    
}

.login-info>.btn {
    font-size: 10px;
}

.dropdown-menu {
    font-size: 10px;
}
/* Login Button CSS ends */

/*Home Icon CSS Starts*/
.header-icon {
    color: #fff;
    font-size: 1.5em;
    padding-left: 7%; 
    padding-top: 7%; 
}
/*Home Icon CSS ends*/

/*Our diary css STARTS*/

.diary-sec {
    position: relative; 
    border-radius: 6px; 
    background: linear-gradient(white, purple);
}

.diary-img {
    opacity: 0.8;
}

/*Our diary css ENDS*/