/* Hero Banner CSS - START */

.logo-round {
    object-fit: cover;
    height: 120px;
    width: 120px;
    border: 3px solid;
    border-radius: 100px;
    border-color: white;
}

.logo-wrapper {
    height: 150px;
}

.sub-banner-logo {
    margin: 5% 0%;
}

.sub-banner-wrapper {
    margin: 0%;   
}

.tagline {
    font-size: 3em;
    padding-top: 2%;
    padding-bottom: 1%;
}

.home-banner {
    background: linear-gradient(
                     rgba(20,20,20,.2), 
                     rgba(20,20,20,.2)),
                     url("https://s3.ap-south-1.amazonaws.com/bna-s3/commons/home-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec-banner {
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .8)),
                     url("https://s3.ap-south-1.amazonaws.com/bna-s3/commons/home-bg-sec.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.purple-banner {
    font-size: 1.8em;
    padding: 7% 0%;
}

.bna-search-add {
    padding: 5% 0% 0% 0%;
}

.meme-wrapper {
    margin-bottom: 10%;
}

.icon-search-home {
    background-image: url("https://bna-s3.s3.amazonaws.com/img/ic_search_black.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-location-home {
    background-image: url("https://bna-s3.s3.amazonaws.com/img/ic_location_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.home-search-wrapper {
    padding-top: 2%;
    padding-bottom: 2%;
}

.home-search-wrapper>.form-horizontal>.form-group-lg>input {
    font-size: 1em;
}

.location-wrapper {
    width: 180px;
}

.search-wrapper {
    width: 400px;
    margin-left: 5px;
}

.i-height {
    height: 40px !important;
}

.i-width {
    width: 20px !important;
}

/* Hero Banner CSS - END */

/* Meme css STARTS */

.meme-image-div {
    height: 80px;
}

.meme-text {
    font-size: 1.3em;
}

.meme-image {    
    object-fit: cover;
    pointer-events: none;
    height:100%;
}

/* Meme css ENDS */

/* Trending CSS - START */

.trending {
    background: #E6E9EE;
}

.trending-heading {
    padding: 1% 3% 1% 11%;
    text-transform: uppercase;  
}

.trending-wrapper {
    padding-left: 3%;
    padding-right: 3%;
}

.flick-div {
    border-radius: 6px; 
    /*background: linear-gradient(white, purple);*/
    /* background-color: #fff; */
    width: 33%;
    height: 250px;
    margin-right: 10px;
}

.flick-image {
    /*opacity: 0.8;*/
    object-fit: cover;
    pointer-events: none;
    width:100%;
    height:100%;
    overflow:hidden;
    vertical-align:top;
    border-radius: 6px;
}

.flick-img-txt {
    height:65%;
}

.flick-txt {
    height:35%;
    padding-top: 2%;
}

@media (max-width: 1024px) {
    .flick-div {
        width: 50%;
        height: 150px;
    }
}

/* Bug Fix in Flickity */
.flickity-enabled.is-draggable .flickity-viewport{
    touch-action: pan-y !important;
}

.flickity-prev-next-button {
    top: 31% !important;
}
/* Bug Fix in Flickity */

/* Trending CSS - END */

/* Login Button CSS starts */
.login-info {
    cursor: pointer; 
    color: white; 
    padding-right: 3%; 
    padding-top: 2%;    
}
/* Login Button CSS ends */

/*Home Icon CSS Starts*/
.header-icon {
    color: #fff;
    font-size: 2em;
    padding-left: 3%; 
    padding-top: 2%; 
}
/*Home Icon CSS ends*/

/*Our diary css STARTS*/
.diary-img {
    opacity: 0.8;
}
/*Our diary css ENDS*/