/* Media Queries CSS - STARTS */
@media (min-width: 768px) {
	.detail-about > .col-sm-8 {
	    width: 65.666667%;
	}
}
/* Media Queries CSS - ENDS */

.primary-image-banner {
	height: 250px;
    border-radius: 4px;
}

.primary-image-wrapper {
  padding-top: 1%;
}

.sub-section {
    padding: 1% 0%;
}

.detail-type-padding {
	padding: 5%;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px; 
}

.recommend-button {
    width: 90%;
    height: 45px;
}

.error-label {
    margin-top: -5%;
    margin-bottom: 5%;
}

.review-item-desc {
    padding: 3% 0%;
}