.rest-thumbnail {
    object-fit: cover;
    width:100px;
    height: 100px;
    overflow:hidden;
    vertical-align:top;
    border-radius: 3px;
}

.primary-image-banner {
    height: 250px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #888888;
}

.primary-image-wrapper {
  padding-top: 1%;
}