@font-face {
    font-family: bna-web;
    src: url('../fonts/bna-web-regular.woff') format('woff');
}

@font-face {
    font-family: bna-bold;
    src: url('../fonts/bna-web-bold.woff') format('woff');
}

@font-face {
    font-family: bna-icon;
    src: url('../fonts/bna-icon-font.woff') format('woff');
}

@font-face {
    font-family: bna-simpson;
    src: url('../fonts/bna-simpson-font.ttf') format('truetype');
}