@font-face {
    font-family: _bold;
    src: url(../fonts/MONTSERRAT-BOLD.OTF);
}
@font-face {
    font-family: _extraBold;
    src: url(../fonts/MONTSERRAT-EXTRABOLD.OTF);
}
@font-face {
    font-family: _light;
    src: url(../fonts/MONTSERRAT-LIGHT.OTF);
}
@font-face {
    font-family: _regular;
    src: url(../fonts/MONTSERRAT-REGULAR.OTF);
}
@font-face {
    font-family: _semiBold;
    src: url(../fonts/MONTSERRAT-SEMIBOLD.OTF);
}
@font-face {
    font-family: _ultraLight;
    src: url(../fonts/MONTSERRAT-ULTRALIGHT.OTF);
}