<div th:fragment="footer">
	<!-- Footer STARTS -->
	<div class="row footer" align="center">
		<div class="col-xs-12">
			<div>
				<a href="https://www.facebook.com/gobananaa"> <img
					src="https://bna-s3.s3.amazonaws.com/img/facebook-logo.png"
					class="social-icon" />
				</a> <a href="https://twitter.com/inbananaa"> <img
					src="https://bna-s3.s3.amazonaws.com/img/twitter-logo.png"
					class="social-icon" />
				</a> <a href="https://www.instagram.com/bananaa.in"> <img
					src="https://bna-s3.s3.amazonaws.com/img/instagram-logo.png"
					class="social-icon" />
				</a>
			</div>
		</div>
		<div class="footer-links col-xs-12">
			<span class="footer-links-desc"><a href="/about">About</a></span> <span
				class="footer-links-desc">|</span> <span class="footer-links-desc"><a
				href="/contact">Contact</a></span> <span class="footer-links-desc">|</span>
			<span class="footer-links-desc"><a href="/privacy">Privacy</a></span>
			<span class="footer-links-desc">|</span> <span
				class="footer-links-desc"><a href="/terms">Terms</a></span>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://bna-s3.s3.amazonaws.com/js/bootstrap3-typeahead.min.js"></script>
	<script src="/r/e/s/o/u/r/c/e/js/main.js"></script>
	<!-- Footer ENDS -->
</div>