<div th:fragment="footer">
	<!-- Footer STARTS -->
	<div class="row footer" align="center">
	    <div class="col-xs-12">
	        <div>
	            <a href="https://www.facebook.com/gobananaa">
	                <img src="img/facebook-logo.png"  class="social-icon" />
	            </a>
	            <a href="https://twitter.com/inbananaa">
	                <img src="img/twitter-logo.png"  class="social-icon" />
	            </a>
	            <a href="https://www.instagram.com/bananaa.in">
	                <img src="img/instagram-logo.png"  class="social-icon" />    
	            </a>
	        </div>
	    </div>
	    <div class="footer-links col-xs-12">
	        <span class="footer-links-desc"><a href="/about">About</a></span>
	        <span class="footer-links-desc">|</span>
	        <span class="footer-links-desc"><a href="/contact">Contact</a></span>
	        <span class="footer-links-desc">|</span>
	        <span class="footer-links-desc"><a href="/privacy">Privacy</a></span>
	        <span class="footer-links-desc">|</span>
	        <span class="footer-links-desc"><a href="/terms">Terms</a></span>
	    </div>
	</div>
	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/main.js"></script>
	<!-- Footer ENDS -->
</div>