<div th:fragment="footer">
	<!-- Footer STARTS -->
	<div class="row footer" align="center">
		<div class="col-xs-12">
            <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5">
                <div class="btn btn-default btn-appstore downloadPlayStoreBtn cursor-pointer">
                    <img src="https://bna-s3.s3.amazonaws.com/img/ic_playstore.png" alt="" /> 
                    <small>Available on</small>
                    <div>Google Play</div>
                </div>
            </div>
        </div>
		<div class="col-xs-12 padding-top">
			<div>
				<a href="https://www.facebook.com/gobananaa"> <img
					src="https://bna-s3.s3.amazonaws.com/img/facebook-logo.png"
					class="social-icon" />
				</a> <a href="https://twitter.com/bananaa_in"> <img
					src="https://bna-s3.s3.amazonaws.com/img/twitter-logo.png"
					class="social-icon" />
				</a> <a href="https://www.instagram.com/bananaa.in"> <img
					src="https://bna-s3.s3.amazonaws.com/img/instagram-logo.png"
					class="social-icon" />
				</a>
			</div>
		</div>
		<div class="footer-links col-xs-12">
			<span class="footer-links-desc"><a href="/about">About</a></span> <span
				class="footer-links-desc">|</span> <span class="footer-links-desc"><a
				href="/contact">Contact</a></span> <span class="footer-links-desc">|</span>
			<span class="footer-links-desc"><a href="/privacy">Privacy</a></span>
			<span class="footer-links-desc">|</span> <span
				class="footer-links-desc"><a href="/terms">Terms</a></span>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://bna-s3.s3.amazonaws.com/js/bootstrap3-typeahead.min.js"></script>
	<script src="/r/e/s/o/u/r/c/e/js/main.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			loadLocations($('#topSearchLocation'), $('#topSearchInput'));
			loadLocations($('#modalSearchLocation'), $('#modalSearchInput'));
		});
		function openSearchModal() {
			$('#searchModal').modal('show');
			$("#modalSearchInput").focus();
		}
	</script>
	<!-- Footer ENDS -->
</div>