<head th:fragment="head">
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    
    <title th:text="${title}">Bananaa</title>
    <meta name="description" th:attr="content=${description}" />
    <meta name="robots" content="NOODP,NOYDIR" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content ="black" />
    <meta name="theme-color" content="#000" />
    <link rel="shortcut icon" href="https://bna-ohio.s3.amazonaws.com/img/favicon.ico" type="image/x-icon"></link>
    
    <meta property="fb:app_id" content="1631840747117125" />
    <meta property="og:title" th:attr="content=${title}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" th:attr="content=${url}" />
    <meta property="og:site_name" content="Bananaa" />
    <meta property="og:description" th:attr="content=${fbDescription}" />
    <meta property="og:image" th:attr="content=${imageUrl}" />    

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet"></link>
    <link href="/r/e/s/o/u/r/c/e/css/bna-commons.css" type="text/css" rel="stylesheet"></link>
    
    <script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-91608047-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>