<head th:fragment="head">
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"></link>
    
    <meta property="fb:app_id" content="1631840747117125" />
    <meta property="og:title" content="Discover and Checkin at Restaurants with Bananaa" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.bananaa.in" />
    <meta property="og:site_name" content="Bananaa" />
    <meta property="og:description" content="Discover and checkin with Bananaa and win exciting rewards. Feedback, follow, share and be more social. One true love!" />
    <meta property="og:image" content="https://s3.ap-south-1.amazonaws.com/bananaimages/logo_bananaa.png" />

    <title th:text="${pageTitle}">Bananaa</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/font.css" rel="stylesheet"></link>
    <link href="css/main.css" rel="stylesheet"></link>
</head>