<div th:fragment="loading-modal">
	<!-- Loading Modal STARTS -->
	<div class="modal fade" id="loadingModal" role="dialog">
	    <div class="modal-dialog">            
	        <div class="modal-content">
	            <div class="main-area container-fluid">
	                <div class="modal-header align-center">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <i class="fa fa-times" aria-hidden="true" style="color:black"></i>
	                    </button>
	                    <h4 class="modal-title bold bna-color" id="alertHeading">Hold tight!</h4>
	                </div>
	                <div class="modal-body row">
	                    <div class="loader"></div>
	                </div>                        
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Loading Modal ENDS -->
</div>