<div th:fragment="loadmore-modal">
	<!-- Load More Modal STARTS -->
	<div class="modal fade" id="loadMoreModal" role="dialog">
            <div class="modal-dialog" style="margin-top: 0px;">            
                <div class="modal-content">
                    <div class="main-area container-fluid">
                        <div class="modal-header align-center">
                            <button type="button" class="close float-left" data-dismiss="modal" aria-label="Close">
                                <img src="https://bna-ohio.s3.amazonaws.com/img/arrow_back_black.svg" />
                            </button>
                            <h4 class="modal-title bold bna-color" id="alertHeading">
                                Most tempting food here &nbsp;
                                <a style="font-size: 70%; color: #444;" href="#" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Based on weighted average of most recent ratings and number of times people have tried a dish" onclick="event.preventDefault();">&#9432;</a>
                            </h4>
                        </div>
                        <div class="modal-body row">
                            <div class="col-xs-12">
                                <div class="loadmore-wrapper">
                                    <!-- <div class="row">
                                        <div class="col-xs-12 recommended-item">
                                            <div class="float-left" style="object-fit: cover;">
                                                <img class="user-icon" src="" />
                                            </div>
                                            <div class="float-left item-desc-wrapper">
                                                <div class="bold item-name">
                                                    Joojeh Kebab
                                                </div>
                                                 <div>
                                                    22 people recommended
                                                </div>
                                            </div>                                                                           
                                        </div>
                                    </div> -->
                                </div>                               
                            </div>
                        </div>                        
                    </div>
				<div
					class="modal-footer align-center bna-bg-primary white cursor-pointer"
					data-dismiss="modal" aria-label="Close"
					style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;">
					Close
				</div>
			</div>
            </div>
        </div>
	<!-- Load More Modal ENDS -->
</div>