<div th:fragment="loadmore-modal">
	<!-- Load More Modal STARTS -->
	<div class="modal fade" id="loadMoreModal" role="dialog">
            <div class="modal-dialog" style="margin-top: 0px;">            
                <div class="modal-content">
                    <div class="main-area container-fluid">
                        <div class="modal-header align-center">
                            <button type="button" class="close float-left" data-dismiss="modal" aria-label="Close">
                                <img src="https://bna-s3.s3.amazonaws.com/img/arrow_back_black.svg" />
                            </button>
                            <h4 class="modal-title bold bna-color" id="alertHeading">What people love here</h4>
                        </div>
                        <div class="modal-body row">
                            <div class="col-xs-12">
                                <div class="loadmore-wrapper">
                                    <!-- <div class="row">
                                        <div class="col-xs-12 recommended-item">
                                            <div class="float-left" style="object-fit: cover;">
                                                <img class="user-icon" src="https://s3.ap-south-1.amazonaws.com/bananaimages/joojeh-kebab.jpg" />
                                            </div>
                                            <div class="float-left item-desc-wrapper">
                                                <div class="bold item-name">
                                                    Joojeh Kebab
                                                </div>
                                                 <div>
                                                    22 people recommended
                                                </div>
                                            </div>                                                                           
                                        </div>
                                    </div> -->
                                </div>                               
                            </div>
                        </div>                        
                    </div>
                    <div class="modal-footer cursor-pointer align-center recommendSubmit" data-dismiss="modal" aria-label="Close">
                        Close
                    </div>
                </div>
            </div>
        </div>
	<!-- Load More Modal ENDS -->
</div>