<div th:fragment="login-modal">
	<!-- Login Modal STARTS -->
	<div class="modal fade" id="loginModal" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header align-center">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <img src="https://bna-ohio.s3.amazonaws.com/img/clear.svg" />
	                </button>
	                <div>
                         <div class="login-title bold padding-1">
                             Login to Bananaa
                         </div>
                         <div class="login-error error-review hide padding-1">
                         </div>
                         <div class="login-success success-rating hide padding-1">
                         </div>
                     </div>
	            </div>
	            <div class="loader hide"></div>
	            <div class="modal-body align-center">
                    <div class="group">
                         <div class="inline-block" style="width: 100%;">
                             <div align="center" style="padding-top: 3%;">
                                 <img class="img-responsive btn" onclick="fbSignIn();" src="https://bna-ohio.s3.amazonaws.com/img/fb_login_button.png"></img>  
                             </div>                                        
                         </div>                                      
                     </div>
                </div>
	        </div>
	
	    </div>
	</div>
	<!-- Login Modal ENDS -->
</div>