<div th:fragment="login-modal">
	<!-- Login Modal STARTS -->
	<div class="modal fade" id="loginModal" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header align-center">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <img src="https://bna-ohio.s3.amazonaws.com/img/clear.svg" />
	                </button>
	                <div>
                         <div class="login-title bold padding-1">
                             Login to Bananaa
                         </div>
                         <div class="login-error error-review hide padding-1">
                         </div>
                         <div class="login-success success-rating hide padding-1">
                         </div>
                     </div>
	            </div>
	            <div class="loader hide"></div>
	            <div class="modal-body align-center">
                        <ul class="nav nav-tabs bna-color">
                            <li class="active"><a data-toggle="tab" href="#loginTab">Login</a></li>
                            <li><a data-toggle="tab" href="#registerTab">Register</a></li>
                            <li><a data-toggle="tab" href="#forgotPasswordTab">Forgot Password</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="loginTab" class="tab-pane fade in active">
                                <div class="group">
                                    <div class="inline-block" style="width: 100%;">
                                        <form class="form-horizontal" style="padding: 5% 5% 0% 5%;">
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                              <input class="align-center full-width" id="m_email" type="email" required="required" autocomplete="off" placeholder="Email" />
                                              <span class="bar"></span>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <input class="align-center full-width" id="m_password" type="password" required="required" autocomplete="off" placeholder="Password" />
                                                <span class="bar"></span>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                              <button type="button" class="bna-button-border full-width" style="margin-left: 0px;" onclick="manualLogin()">Login</button>
                                            </div>
                                          </div>
                                        </form>
                                        <div class="hr-sect">OR</div>
                                        <div align="center" style="padding-top: 2%;">
                                            <img class="img-responsive btn" onclick="fbSignIn();" src="https://bna-ohio.s3.amazonaws.com/img/fb_login_button.png"></img>  
                                        </div>                                        
                                    </div>                                      
                                </div>
                            </div>
                            <div id="registerTab" class="tab-pane fade in">
                                <div class="group" style="margin: 0%;">
                                    <div class="inline-block" style="width: 100%;">
                                        <form class="form-horizontal padding">
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <input class="align-center full-width" id="r_name" type="text" required="required" autocomplete="off" placeholder="Your name" />
                                                <span class="bar"></span>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <input class="align-center full-width" id="r_email" type="email" required="required" autocomplete="off" placeholder="Email" />
                                                <span class="bar"></span>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <input class="align-center full-width" id="r_password" type="password" required="required" autocomplete="off" placeholder="Password" />
                                                <span class="bar"></span>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                              <button type="button" class="bna-button-border full-width" style="margin-left: 0px;" onclick="register()">Register</button>
                                            </div>
                                          </div>                                          
                                        </form>
                                    </div>                                      
                                </div>
                            </div>
                            <div id="forgotPasswordTab" class="tab-pane fade in">
                                <div class="group" style="margin: 0%;">
                                    <div class="inline-block" style="width: 100%;">
                                        <form class="form-horizontal padding">
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                            <input class="align-center full-width" id="f_email" type="email" required="required" autocomplete="off" placeholder="Enter your email" />
                                                <span class="bar"></span>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                              <button type="button" class="bna-button-border full-width" style="margin-left: 0px;" onclick="forgotPassword()">Get Password</button>
                                            </div>
                                          </div>                                          
                                        </form>
                                    </div>                                      
                                </div>
                            </div>
                        </div>
                    </div>
	        </div>
	
	    </div>
	</div>
	<!-- Login Modal ENDS -->
</div>