<div th:fragment="recommend-modal">
<!-- Recommendation Modal STARTS -->
	<div class="modal fade" id="recommendModal" role="dialog">
	    <div class="modal-dialog fullscreen-modal-dialog">
	        <div class="modal-content fullscreen-modal-content">
	         <div class="modal-header align-center">
	             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                 <img src="https://bna-ohio.s3.amazonaws.com/img/clear.svg" />
	             </button>
	             <div>
	                    <div class="rcmd-title bna-color padding-1">
	                        ADD FOOD RATING
	                    </div>
	                    <div class="hide error-review padding-1">
	                        Sorry, only 50 to 200 characters in a foodview please.
	                    </div>
	                    <div class="hide success-rating padding-1">
	                        Thank you ! Your rating has been saved.
	                    </div>
	                </div>                            
	                <ul class="nav hide">
	                  <li class="active"><a data-toggle="tab" href="#ratingTab"></a></li>
	                  <li><a data-toggle="tab" href="#reviewTab"></a></li>
	                </ul>
	         </div>
	         <div class="modal-body align-center">
                        <div class="tab-content">
                            <div class="ratingTab tab-pane fade in active">
                                <div class="group">
                                    <div class="inline-block">
                                        <input class="global-search noloading align-center rcmd-width" type="text" data-provide="typeahead" id="modal-item-name" required="required" autocomplete="off" placeholder="Type a few characters of the food or drink here" />
                                        <span class="bar rcmd-width"></span>
                                        <div class="input-loader-animation-div rcmd-width">
                                            <img class="input-loader-animation" src="https://bna-ohio.s3.amazonaws.com/commons/ajax-loader.svg" />
                                        </div>
                                    </div>                                      
                                </div>
                                <div class="rating-widget group">
                                    <div class="rating-section inline-block padding-2">
                                        <img id="s1" class="rate-star cursor-pointer" src="https://bna-ohio.s3.amazonaws.com/img/rate-e.png" />
                                        <img id="s2" class="rate-star cursor-pointer" src="https://bna-ohio.s3.amazonaws.com/img/rate-e.png" />
                                        <img id="s3" class="rate-star cursor-pointer" src="https://bna-ohio.s3.amazonaws.com/img/rate-e.png" />
                                        <img id="s4" class="rate-star cursor-pointer" src="https://bna-ohio.s3.amazonaws.com/img/rate-e.png" />
                                        <img id="s5" class="rate-star cursor-pointer" src="https://bna-ohio.s3.amazonaws.com/img/rate-e.png" />
                                    </div>
                                    <div style="margin-top: 6%;">
                                        <span class="rating-txt bold font-1-5 simpson light">ADD YOUR RATING</span>
                                    </div>                                        
                                </div>
                                <div class="group hide goto-review align-center">
                                    <button class="bna-button rcmd-width" style="line-height: 2;" onclick="navigateToReview()">ADD A FOODVIEW</button>
                                </div>                                   
                            </div>
                            <div class="reviewTab tab-pane fade in">
                                <form>
                                    <div class="rTitle padding-2 light"></div>
                                    <div class="padding-2">
                                        <span class="rRating simpson font-1-5"></span>
                                    </div>
                                    <div class="inline-block">
									<textarea class="recommend-desc-area rcmd-width" id="modal-item-desc" maxlength="200"
										placeholder="Share a foodview ! A tiny review about this dish to help others know how it tastes and if they should give it a try. Just remember to keep it short, a minimum of 50 and a maximum of 200 characters only :)"></textarea>
									<span class="bar rcmd-width"></span>
                                        <div class="font-0-8" style="padding-top: 1%;">
                                            <span class="char-count pull-right">22/200</span>    
                                        </div>                                                
                                    </div>                                  
                                    <div>
                                        <button type="button" class="bna-button-light" onclick="navigateToRate();">Back</button>
                                        <button type="button" class="bna-button" onclick="addRecommendation()">Submit</button>    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
	        </div>
	    </div>
    </div>
	<!-- Recommendation Modal ENDS -->
</div>