<div th:fragment="recommend-modal">
<!-- Recommendation Modal STARTS -->
	<div class="modal fade" id="recommendModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="loader hide"></div>
                    <div class="main-area">
                        <div class="modal-header align-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <img src="http://cdn.bananaa.in/img/clear.svg" />
                            </button>
                            <h4 class="modal-title bold">My recommendation</h4>
                        </div>
                        <div class="modal-body align-center" style="padding-top: 7%;">
                            <div>
                                <form>
                                    <div class="group">
                                      <p class="hide" id="modal-recommendation-id"></p>
                                      <p class="hide" id="modal-item-id"></p>
                                      <input class="bold white-background" type="text" data-provide="typeahead" id="modal-item-name" required="required" autocomplete="off" />
                                      <span class="bar"></span>
                                      <label id="modal-item-name-label">Food or drink name</label>
                                    </div>
                                    <div class="error-label error-label-name font-0-8 red align-left hide">
                                        Please select the food or drink item
                                    </div>
                                    <div class="group">
                                      <textarea class="recommend-desc-area" id="modal-item-desc" maxlength="200"></textarea>
                                      <span class="bar"></span>
                                      <label id="modal-item-desc-label">Add a mini review (optional)</label>
                                    </div>
									<div class="error-label error-label-review font-0-8 red align-left hide">
                                        Your review needs to be minimum 50 and maximum 200 characters long
                                    </div>
                                    <div id="removeRecommendation" onclick="removeRecommendation();">
                                        <p class="cursor-pointer light">Remove this recommendation</p>
                                    </div>
                                    
                                  </form>
                            </div>
                        </div>
                        <div id="recommendSubmit" class="modal-footer cursor-pointer align-center recommendSubmit">
                            Add recommendation
                        </div>
                    </div>
                </div>

            </div>
        </div>
	<!-- Recommendation Modal ENDS -->
</div>