<div class="row" th:fragment="top-header">
	<script type="text/javascript" th:src="'/r/e/s/o/u/r/c/e/js/' + ${loginStatus.bnaEnv} + '/login.js'"></script>
	<!-- script for this fragment is present in the footer -->
	<div class="col-xs-12">
        <div class="row top-header">
            <div class="simpson header-icon bna-color">
                <div class="hidden-sm hidden-md hidden-lg float-left">
                    <img class="cursor-pointer float-left" src="https://bna-ohio.s3.amazonaws.com/img/arrow_back_black.svg" onclick="window.history.back()" />
                </div>
                <div style="float: left; display: inline;">
                    <span class="cursor-pointer" onclick="location.href='https://www.bananaa.in'" style="margin-left: 5%;">bananaa</span>
                </div>
            </div>
            
            <!-- mobile screen -->
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="btn-group pull-right" style="margin-left: 8%">
                    <img id="login-button-mini" class="dropdown-toggle" data-toggle="dropdown" src="https://bna-ohio.s3.amazonaws.com/img/ic_person_black.svg" />                                
                    <ul class="dropdown-menu pull-right" id="login-dropdown-mini">
                        <li><a th:href="'/user/' + ${loginStatus.nameId}">My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:logout();">Logout</a></li>
                    </ul>
                </div>
                <div class="btn-group pull-right">
                    <img src="https://bna-ohio.s3.amazonaws.com/img/ic_search_black.svg" onclick="openSearchModal();" />
                </div>
            </div>
            
            <!-- desktop/tablet screen -->
            <div class="hidden-xs">
            	<div class="pull-right">
            		<div class="btn-group login-info">
                        <button type="button" id="login-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span id="login-info" th:text="${loginStatus.status} ? ${loginStatus.firstName} : 'Login'"></span> <span class="caret"></span>                        
                        </button>
                        <ul class="dropdown-menu pull-right" id="login-dropdown">
                            <li><a th:href="'/user/' + ${loginStatus.nameId}">My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:logout();">Logout</a></li>
                        </ul>
                    </div>
            	</div>
            	<div class="form-horizontal">
                    <div class="form-group-lg has-feedback" style="float: left; display: inline; width: 140px; margin-left: 8%;">
                        <input id="topSearchLocation" data-provide="typeahead" class="cursor-pointer header-search-input" type="text" 
                        placeholder="Type your location" th:value="${location}" />
                        <i class="glyphicon icon-location form-control-feedback" style="width: 15px; height: 40px;"></i>
                    </div>    
                </div>
                <div class="form-horizontal">
                    <div class="form-group-lg has-feedback" style="float: left; display: inline; width: 35%; margin-left: 0.5%;">
                        <input id="topSearchInput" class="global-search header-search-input noloading" type="text" placeholder="Search for a restaurant, cuisine or dish" />
                        <i class="glyphicon icon-search form-control-feedback" style="width: 15px; height: 40px;"></i>
                        <div class="input-loader-animation-div" style="width: 100%;">
		                	<img class="input-loader-animation" src="https://bna-ohio.s3.amazonaws.com/commons/ajax-loader.svg" />
		                </div>
                    </div>    
                </div>
                <div style="float: left; display: inline; margin-left: 0.5%;">
                    <button type="button" id="topHeaderSearchButton" class="bna-button" style="margin: 0px; line-height: inherit;">Search</button>
                </div>
            </div>                        
        </div>
    </div>
    <!-- Full screen Modal STARTS -->
    <div class="modal fade" id="searchModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog fullscreen-modal-dialog">
            <div class="modal-content fullscreen-modal-content">                    
                <div class="modal-header align-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="https://bna-ohio.s3.amazonaws.com/img/clear.svg" />
                    </button>
                    <h4 class="modal-title bold">Search</h4>
                </div>
                <div class="modal-body align-center" style="padding: 7%;">
                    <div class="form-horizontal">
                        <div class="form-group-lg has-feedback">
                            <input id="modalSearchLocation" class="cursor-pointer header-search-input" type="text" placeholder="Type your location" th:value="${location}" />
                            <i class="glyphicon icon-location form-control-feedback" style="width: 15px; height: 40px;"></i>
                        </div>    
                    </div>
                    <div class="form-horizontal" style="margin-top: 5%;">
                        <div class="form-group-lg has-feedback">
                            <input id="modalSearchInput" class="global-search header-search-input noloading" type="text" data-provide="typeahead" placeholder="Search for a restaurant, cuisine or dish" />
                            <i class="glyphicon icon-search form-control-feedback" style="width: 15px; height: 40px;"></i>
                            <div class="input-loader-animation-div" style="height: 100%;">
		                        <img class="input-loader-animation" src="https://bna-ohio.s3.amazonaws.com/commons/ajax-loader.svg" />
		                    </div>
                        </div>    
                    </div>                    
                </div>
            </div>

        </div>
    </div>
    <!-- Full screen Modal ENDS -->         
</div>